*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    color: #d2ccb8;
    background: #151515;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Georgia", serif;
    line-height: 1.55;
    margin: 0;
    height: 100vh;
    overscroll-behavior: none;
    overflow: auto;
}

header {
    top: 0;
    position: sticky;
    padding: 18px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(90deg, #151515, #1a1412);
}

nav {
    margin: 0;
    padding: 16px;
    font-weight: 900;
}

.nav-item {
    padding: 10px;
    border: 1px solid #2a241d;
    margin-bottom: 10px;
    background: #121212;
}

main {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: crimson;
}

h1 {
    color: crimson;
    border-radius: 10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 0;
    background: inherit;
}

#links {
    display:flex;
    flex-wrap:wrap;
}

#links a{
    color: inherit;
    padding:.35rem .65rem;
    border-radius:10px;
}

#links a:hover{
    color: inherit;
    text-shadow:
        0 0 7px red,
        0 0 10px red,
        0 0 20px red;
}

#container {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: calc(100vh - 70px);
}

#content {
    margin: auto;
    max-width: 90%;
    color: #ccc;
    padding: 10px 100px 10px 100px;
}

.text {
    text-align: left;
    padding-bottom: 60px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
