*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    color: #d2ccb8;
    background: #151515;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Georgia", serif;
    line-height: 1.55;
    margin: 0;
    overscroll-behavior: none;
    overflow: auto;
}

header {
    top: 0;
    padding: 18px 24px;
    border-bottom: 1px solid #3a3328;
    background: linear-gradient(90deg, #151515, #1a1412);
    gap: 20px;
    display: flex;
    align-items: center;
    line-height: 0.75;
}
        
#logo {
    width: 50px;
    height: 50px;

    border: 2px solid #6c2020;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
}

nav {
    margin: 0;
    padding: 16px;
    border-right: 1px solid #3a3328;
}

.nav-item {
    padding: 10px;
    border: 1px solid #2a241d;
    margin-bottom: 10px;
    background: #121212;
}

.nav-item.active {
    background: #6c2020;
}

main {
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: orange;
}

h1, h2 {
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    font-weight: normal;
}

#container {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: calc(100vh - 87px);
}

.content {
    padding: 16px;
    margin-bottom: 18px;
    border: 1px solid #2a241d;
}

.tag {
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    border: 1px solid #3a3328;
    margin-right: 6px;
    color: #a8a08f;
}

.text {
    text-align: left;
    padding-bottom: 60px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
