@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Cinzel-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Cinzel-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/Cinzel-Black.ttf") format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
    font-family: "Cinzel", serif;
    text-align: center;
    line-height:1.55;
    margin: 0;
    height: 100%;
    overscroll-behavior: none;
    overflow:hidden;
}

header {
    background: inherit;
    position: sticky;
    border-bottom: 1px solid #e6e0d4;
    margin-bottom: 3rem;
    top: 0;
}

nav {
    margin: 5px 10px;
    font-weight: 900;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

a {
    color: white;
    text-decoration:none;
}

a:hover {
    color: crimson;
}

h1 {
    color: crimson;
    border-radius:10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 0 0;
    background: inherit;
}

#links {
    display:flex;
    flex-wrap:wrap;
}

#links a{
    color: inherit;
    padding:.35rem .65rem;
    border-radius:10px;
}

#links a:hover{
    color: crimson;
}

#content {
    margin: auto;
    max-width: 666px;
}

.text {
    text-align: left;
    padding-bottom: 60px;
}
