body {
    color: #b8a1a1;
    background: #000000;
    font-family: "Georgia" serif;
    padding: 0;
    max-width: 666px;
    margin: auto;
    padding: 60px 20px;
    text-align: center;
}

h1 {
    color: #9e0000;
    font-family: "Trajan Pro", serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    color: #c2a100;
    font-family: "Trajan Pro", serif;
    font-weight: normal;
    text-transform: uppercase;
}

a {
    color: #a38e6f;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    border-bottom: 1px solid #5c0000;
    transition: all 0.3s ease;
}

a:hover {
    color: #ffcc66;
    border-bottom: 1px solid #ff0000;
    text-shadow: 0 0 4px #8b0000;
    cursor: crosshair;
}

hr {
    border: none;
    border-top: 1px solid #550000;
    margin: 30px 0;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0.2;
    }
}

img {
    width: 333px;
    filter: none;
    animation: flicker 1.5s infinite;
}

img:hover {
    filter: brightness(75%) contrast(200%) saturate(50%);
}
