@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Cinzel-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Cinzel-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/Cinzel-Black.ttf") format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
    font-family: "Cinzel", serif;
    text-align: center;
    line-height:1.55;
    margin: 0;
    height: 100%;
    overscroll-behavior: none;
    overflow:hidden;
}

a {
    color: white;
    text-decoration:none;
}

a:hover {
    color: crimson;
}

h1 {
    border-radius:10px;
}

#content {
    margin: auto;
    max-width: 666px;
}

.text {
    text-align: left;
    padding-bottom: 60px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
